[user]
	email = josh@goatslacker.com
	name = Josh Perez

[github]
  user = goatslacker

[color]
  ui = auto

[alias]
  cl = clone
  cm = commit -a
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative
  pl = pull origin master
  ps = push origin master
  st = status
