[submodule ".vim/bundle/ctrlp.vim"]
  path = .vim/bundle/ctrlp.vim
  url = git://github.com/kien/ctrlp.vim.git

[submodule ".vim/bundle/mango.vim"]
  path = .vim/bundle/mango.vim
  url = git://github.com/goatslacker/mango.vim.git

[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = git://github.com/scrooloose/nerdtree.git

[submodule ".vim/bundle/supertab"]
  path = .vim/bundle/supertab
  url = git://github.com/ervandew/supertab.git

[submodule ".vim/bundle/vim-fugitive"]
  path = .vim/bundle/vim-fugitive
  url = git://github.com/tpope/vim-fugitive.git

[submodule ".vim/bundle/vim-javascript"]
  path = .vim/bundle/vim-javascript
  url = git://github.com/pangloss/vim-javascript.git

[submodule ".vim/bundle/vim-ls"]
  path = .vim/bundle/vim-ls
  url = git://github.com/gkz/vim-ls.git

[submodule ".vim/bundle/vim-pasta"]
  path = .vim/bundle/vim-pasta
  url = git://github.com/sickill/vim-pasta.git

[submodule ".vim/bundle/zencoding-vim"]
  path = .vim/bundle/zencoding-vim
  url = git://github.com/mattn/zencoding-vim.git

[submodule ".vim/bundle/numbers"]
  path = .vim/bundle/numbers
  url = git://github.com/myusuf3/numbers.vim.git

[submodule ".vim/bundle/VimClojure"]
  path = .vim/bundle/VimClojure
  url = git://github.com/vim-scripts/VimClojure.git

[submodule ".vim/bundle/akira.vim"]
  path = .vim/bundle/akira.vim
  url = git://github.com/goatslacker/akira.vim.git

[submodule ".vim/bundle/dwm.vim"]
  path = .vim/bundle/dwm.vim
  url = git://github.com/spolu/dwm.vim.git

[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline.git
