[user]
	email = josh@goatslacker.com
	name = Josh Perez

[github]
  user = goatslacker

[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = cyan
[color "diff"]
  meta = black bold
  frag = blue
  old = red
  new = green
[color "status"]
  added = green
  changed = blue
  untracked = yellow

[alias]
  cl = clone
  cm = commit -a
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative
  pl = pull origin master
  ps = push origin master
  st = status
