[user]
  email = josh@goatslacker.com
  name = Josh Perez

[github]
  user = goatslacker

[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = cyan
[color "diff"]
  meta = black bold
  frag = blue
  old = red
  new = green
[color "status"]
  added = green
  changed = blue
  untracked = yellow

[alias]
  br = branch
  cl = clone
  ci = commit
  cm = commit -a
  co = checkout
  dc = diff --cached
  df = diff --color
  dfst = diff --stat
  ign = ls-files -o -i --exclude-standard
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative
  msg = commit --allow-empty -m
  new = checkout -b
  pl = pull origin master
  ps = push origin master
  po = push origin gh-pages
  st = status
  switch = checkout
